.footer {
  margin: 0 auto;
}

.footer__copyright {
  font-family: "Inter-regular";
  font-size: 14px;
  /* line-height: 16px; */
  font-weight: 400;
  text-align: right;
  color: #ffffff;
  margin-bottom: 24px;
}
@media (min-width: 320px) and (max-width: 544px) {
  .footer__copyright {
    line-height: 14px;
  }
}

@media (min-width: 544px) and (max-width: 1024px) {
  .footer__copyright {
    line-height: 16px;
  }
}
