.places {
  width: 987px;
  margin: 0 auto 90px;
}
.places:last-child {
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 544px) {
  .places {
    margin: 0 16px 65px;
  }
}

@media (min-width: 544px) and (max-width: 1024px) {
  .places {
    margin: 0 24px 90px;
  }
}
